
<ion-header >
  <ion-toolbar color="secondary">
    <ion-title style="color:white; text-align: center;">Registro de cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="ligth" >

  <ion-div class="ion-margin-top">
 

    <ion-item style="color: white; margin-right: 32px; margin-left: 36px; margin-top: 90px;">
      <ion-input style="color: rgb(0, 183, 255); text-align: center;" placeholder="nombre"[(ngModel)]="Usuarios.nombre"></ion-input>
    </ion-item>
  
    <ion-item style="color: white; margin-right: 30px; margin-left: 32px; margin-top: 36px;">
      <ion-input type="email" style="color: rgb(0, 183, 255); text-align: center;" placeholder="email" [(ngModel)]="Usuarios.email"></ion-input>
    </ion-item>

    <ion-item style="color: white; margin-right: 30px; margin-left: 32px; margin-top: 36px;">
      <ion-input type="password" style="color: rgb(0, 183, 255); text-align: center;" placeholder="Contraseña"[(ngModel)]="Usuarios.password"></ion-input>
    </ion-item>

    <ion-button  size="small"color="secondary" style="margin-top: 40px;margin-top: 50px; color:rgb(0, 183, 255) ; " shape="round" (click)="registrarUsuarios()">Registrar</ion-button>
    
  </ion-div>

</ion-content>
