<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-title style="color: white; text-align: center;">Te Llevo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 style="color:rgb(0, 183, 255); ; margin-top:2cm; margin-left: 115px; margin-right: 90px;">¡WELCOME!</h2>
  <ion-content class="ion-padding ion-text-center" >
    <ion-avatar  style="height: 130px; width: 150px; margin-top:20px; margin-left: 2.3cm;">
      <img  src= "assets/img/auto2.jpg">
    </ion-avatar>
  
  <div class="ion-margin-top">

    <ion-button expand="block" style="margin-left: 2cm; margin-right: 2cm; margin-top: 80px;" color="secondary">Sign Up</ion-button>
    <ion-button expand="block" style="margin-left: 2cm; margin-right: 2cm; margin-top: 10px;" color="secondary" routerLink="/login" >Login</ion-button>
  
  </div>
  
  
  
  </ion-content>
  