<ion-header>
  <ion-toolbar>
    <ion-title>Viajes disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let viaje of listaViajes">
    <ion-item [routerLink]="['./', viaje.id]">
      <ion-avatar>
        <ion-img src="assets/img/autoF.jpg"></ion-img>
      </ion-avatar>
     <ion-label>
        <h2> Destino:  {{viaje.comuna}} </h2> 
        <h3> Conductor:  {{viaje.conductor}} </h3> 
        <h3> Costo:  {{viaje.costo}} </h3>       
     </ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
