<ion-header >
  <ion-toolbar color="secondary">
    <ion-title style="color:white; text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="ligth" >
  <ion-avatar  style="height: 120px; width: 120px; margin-top:80px; margin-left: 3cm; margin-right: 3cm; margin-bottom: 50px;">
    <img  src= "assets/img/user2.png">
  </ion-avatar>

<ion-div class="ion-margin-top">
 

  <ion-item style="color: white; margin-right: 32px; margin-left: 36px;">
    <ion-input style="color: rgb(0, 183, 255); text-align: center;" placeholder="Usuario" [(ngModel)]="user.usuario"></ion-input>
  </ion-item>

  <ion-item style="color: white; margin-right: 30px; margin-left: 32px; margin-top: 36px;">
    <ion-input type="password" style="color: rgb(0, 183, 255); text-align: center;" placeholder="Contraseña" [(ngModel)]="user.password"></ion-input>
  </ion-item>
 
  <ion-button size="medium" color="secondary" style="margin-top: 35px;margin-top: 50px; color:rgb(0, 183, 255) ; " shape="round" (click)="ingresar()">Login</ion-button>
  
</ion-div>

<div style="margin-top: 30px;">
  <a color="secondary" routerLink="/login/registrarcuenta">Recuperar contraseña</a>
</div>


</ion-content>
