<ion-header>
  <ion-toolbar>
      <ion-title>Volver a viajes disponibles</ion-title>

      <ion-buttons slot="start">
        <ion-back-button defaultHref='/menu'></ion-back-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-label>
    <div style="padding-left:2%">
      <ion-avatar>
        <ion-img src="assets/img/simboloAuto.png"></ion-img>
      </ion-avatar>
    </div>
   
    <div style="border-bottom: 2px solid cornflowerblue;">
      <div style="margin:1%"> 
        <ion-label position="floating">Destino</ion-label>
        <h1> {{viaje.comuna}} </h1> 
      </div>
      <div style="margin:1%">
        <ion-label position="floating">Valor a pagar</ion-label>
        <h1>       ${{viaje.costo}} </h1>
      </div>
      <div style="margin:1%">
        <ion-label position="floating">Conduce</ion-label>
        <h1>       {{viaje.conductor}} </h1>
      </div>
      <div style="margin:1%" > 
        <h1>       {{viaje.capacidad}} Cupos disponibles</h1>   
      </div>
    </div>     
 </ion-label> 
 <ion-button expand="block" (click)="incluirPasajero()"  expand="full" >Incluirme como pasajero</ion-button>
</ion-content>


