
  <ion-header >
    <ion-toolbar color="secondary">
      <ion-title style="color:white; text-align: center;">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-avatar  style="height: 120px; width: 120px; margin-top:80px; margin-left: 130px; margin-right: 130px; margin-bottom: 10px;">
      <img  src= "assets/img/user2.png">
    </ion-avatar>
    <ion-row>
      <ion-col size="12">
        <ion-item style="margin-top: 10px; margin-left: 60px; margin-right: 60px;margin-bottom: 10px;">
          <ion-label style="color: rgb(0, 183, 255); text-align: center;" position="floating">nombre</ion-label>
          <ion-input style="text-align: center;"[(ngModel)]="DataRecovery.nombre"></ion-input>
        </ion-item>
      </ion-col >
      <ion-col size="12">
        <ion-item style="margin-top: 20px; margin-left: 60px;margin-right: 60px;margin-bottom: 10px;">
          <ion-label style="color: rgb(0, 183, 255);text-align: center;"position="floating">email</ion-label>
          <ion-input style="text-align: center;"[(ngModel)]="DataRecovery.email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item style="margin-top: 20px; margin-left: 60px; margin-right: 60px;">
          <ion-label style="color: rgb(0, 183, 255);text-align: center;" position="floating">contraseña</ion-label>
          <ion-input style="text-align: center;" type="password"[(ngModel)]="DataRecovery.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button size="medium" color="secondary" style="margin-top: 45px; margin-left: 100px; margin-right: 100px; color:rgb(0, 183, 255) ; " shape="round" (click)="recuperarClave()">Recuperar</ion-button>
  
  </ion-content>
  
 

